<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <h1 class="mt-4">Events</h1>
      <ol class="breadcrumb mb-4" style="display: flex">
        <li class="breadcrumb-item align-self-center">View</li>
        <a href="admin/event" class="breadcrumb-item active align-self-center"
          >Events</a
        >
        <li style="margin-left: auto">
          <a
            href="/admin/ticket/formCreateEventAssociated/<%= loadContent.event.name %>"
          >
            <button type="button" class="btn btn-success" style="width: 150px">
              Create Ticket
            </button>
          </a>
        </li>
      </ol>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12" hidden="hidden">
            <label for="eventID">EventId</label>
            <input
              type="text"
              class="form-control"
              id="eventID"
              name="eventID"
              minlength="1"
              value="<%= loadContent.event.eventId %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              minlength="3"
              value="<%= loadContent.event.name %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-8 col-sm-12">
            <label for="description">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
              minlength="1"
              value="<%= loadContent.event.description %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="type">Type</label>
            <input
              type="text"
              class="form-control"
              id="type"
              name="type"
              minlength="1"
              value="<%= loadContent.event.type %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="DOE">Date of Event</label>
            <input
              type="text"
              class="form-control"
              id="doe"
              name="doe"
              value="<%= loadContent.event.date %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="Schedule">Schedule</label>
            <input
              type="text"
              class="form-control"
              id="schedule"
              name="schedule"
              value="<%= loadContent.event.schedule %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="location">Venue ID (Location)</label>
            <input
              type="Number"
              class="form-control"
              id="location"
              name="location"
              minlength="1"
              value="<%= loadContent.event.location%>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="classification">Classification</label>
            <input
              type="text"
              class="form-control"
              id="classification"
              name="classification"
              minlength="1"
              value="<%= loadContent.event.classification%>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="seatsAvailable">Seats Available</label>
            <input
              type="Number"
              class="form-control"
              id="seatsAvailable"
              name="seatsAvailable"
              minlength="1"
              value="<%= loadContent.event.seatsAvailable%>"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
