<% if(loadContent.error) { %>
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="createError"
>
  <strong>An error ocurred submitting the ticket creation form!</strong> The
  inputted data is incorrect.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <form
        method="POST"
        action="/admin/ticket/create"
        name="createForm"
        enctype="multipart/form-data"
      >
        <h1 class="mt-4">Tickets</h1>
        <ol class="breadcrumb mb-4" style="display: flex">
          <li class="breadcrumb-item align-self-center">Create</li>
          <a
            href="admin/ticket"
            class="breadcrumb-item active align-self-center"
            >Tickets</a
          >
          <li style="margin-left: auto">
            <a href="/admin/ticket/formCreate">
              <button
                type="submit"
                class="btn btn-success"
                style="width: 150px"
              >
                Save
              </button>
            </a>
          </li>
        </ol>
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-12">
              <!-- col-lg-6 occupies half of the screen -->
              <div class="card">
                <div class="card-body">
                  <div class="basic-form">
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Name*</p>
                      <select name="name" class="form-control" required>
                        <option selected disabled hidden>Choose here</option>
                        <% for(var i=0; i < loadContent.events.length;i++) { %>
                        <option value="<%= loadContent.events[i].name%>">
                          <%= loadContent.events[i].name%>
                        </option>
                        <% }; %>
                      </select>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Date*</p>
                      <input
                        type="date"
                        class="form-control input-default"
                        id="date"
                        name="date"
                        placeholder="Date"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Hour*</p>
                      <input
                        type="time"
                        class="form-control input-default"
                        id="hour"
                        name="hour"
                        placeholder="Hour"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Row</p>
                      <input
                        type="number"
                        class="form-control input-default"
                        id="row"
                        name="row"
                        placeholder="Row"
                        maxlength="3"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Seat</p>
                      <input
                        type="number"
                        class="form-control input-default"
                        id="seat"
                        name="seat"
                        placeholder="Seat"
                        maxlength="3"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Type*</p>
                      <select
                        class="form-control input-default"
                        id="type"
                        name="type"
                        required
                      >
                        <option>Normal</option>
                        <option>VIP</option>
                        <option>Child</option>
                        <option>Family</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Price*</p>
                      <input
                        type="number"
                        class="form-control input-default"
                        id="price"
                        name="price"
                        placeholder="Price"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Image*</p>
                      <input
                        type="file"
                        class="form-control input-default"
                        id="image"
                        name="image"
                        placeholder="Image"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
