<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="alertServerError"
  hidden
>
  <strong>An error ocurred deleting a ticket!</strong> The ticket wasn't removed
  or already doesn't exist.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<div class="container-fluid px-4">
  <h1 class="mt-4">Tickets</h1>
  <ol class="breadcrumb mb-4" style="display: flex">
    <li class="breadcrumb-item align-self-center">Dashboard</li>
    <li class="breadcrumb-item active align-self-center">Tickets</li>
    <li style="margin-left: auto">
      <a href="/admin/ticket/formCreate">
        <button type="button" class="btn btn-success" style="width: 150px">
          Create
        </button>
      </a>
    </li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Ticket List
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>Id</th>
            <th>Event</th>
            <th>Date</th>
            <th>Hour</th>
            <th>Type</th>
            <th>Price</th>
            <th>View</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Event</th>
            <th>Date</th>
            <th>Hour</th>
            <th>Type</th>
            <th>Price</th>
            <th>View</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </tfoot>
        <% if(loadContent.tickets && loadContent.tickets.length>0) { %>
        <tbody>
          <% for(var i=0; i < loadContent.tickets.length;i++) { %>
          <tr>
            <td><%= loadContent.tickets[i].ticketId%></td>
            <!--corrigir dados-->
            <td><%= loadContent.tickets[i].name%></td>
            <td><%= loadContent.tickets[i].date%></td>
            <td><%= loadContent.tickets[i].hour%></td>
            <td><%= loadContent.tickets[i].type%></td>
            <td><%= loadContent.tickets[i].price%> €</td>
            <td>
              <a
                href="/admin/ticket/show/<%= loadContent.tickets[i].ticketId%> "
              >
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
            <td>
              <a
                href="/admin/ticket/formEdit/<%= loadContent.tickets[i].ticketId%> "
              >
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
            <td>
              <a
                type="button"
                id="deleteLink"
                name="/admin/ticket/delete/<%= loadContent.tickets[i].ticketId%> "
                onclick='deleteAction("<%= loadContent.tickets[i].ticketId%>")'
              >
                <i class="fas fa-tachometer-alt"></i>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
        <% } else {%>
        <div>The list is empty.</div>
        <% } %>
      </table>
      <!-- DELETE MODAL CONFIRMATION  -->
      <button
        type="button"
        id="popUpBtn"
        data-bs-toggle="modal"
        data-bs-target="#verticallyCentered"
        hidden
      >
        Pop up
      </button>

      <div
        class="modal fade"
        id="verticallyCentered"
        tabindex="-1"
        aria-labelledby="verticallyCenteredModalLabel"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="verticallyCenteredModalLabel">
                Remove ticket?
              </h5>
              <button
                class="btn p-1"
                type="button"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span class="fas fa-times fs--1"></span>
              </button>
            </div>

            <div class="modal-footer justify-content-center">
              <a class="btn btn-outline-success" id="btnToConfirm">Confirm</a>
              <button
                class="btn btn-outline-danger"
                type="button"
                id="cancelModalBtn"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
            </div>

            <script>
              deleteAction = (elem) => {
                document.getElementById("btnToConfirm").href = elem.name;
                document.getElementById("popUpBtn").click();
              };

              hideAlert = (alert) => {
                alert.parentNode.hidden = true;
              };

              deleteAction = (eventId) => {
                //console.log(eventId);
                document.getElementById("btnToConfirm").name = eventId;
                document.getElementById("popUpBtn").click();
              };

              document
                .getElementById("btnToConfirm")
                .addEventListener("click", (event) => {
                  let id = event.target.name;
                  const xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                      if (this.status == 200) {
                        debugger;
                        window.location.reload();
                      } else {
                        document.getElementById("cancelModalBtn").click();
                        document.getElementById(
                          "alertServerError"
                        ).hidden = false;
                        window.scrollTo(0, 0);
                      }
                    }
                  };
                  xhttp.open("DELETE", `/admin/ticket/delete/${id}`);
                  xhttp.send();
                });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
