<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="editError"
  hidden
>
  <strong id="editText"
    >An error ocurred submitting the ticket editing form!
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<div class="container-fluid px-4">
  <form
    action="/admin/ticket/edit/<%= loadContent.ticket.ticketId %>"
    method="post"
    name="editForm"
    enctype="multipart/form-data"
  >
    <h1 class="mt-4">Tickets</h1>
    <ol class="breadcrumb mb-4" style="display: flex">
      <li class="breadcrumb-item align-self-center">Edit</li>
      <a href="admin/ticket" class="breadcrumb-item active align-self-center"
        >Tickets</a
      >
      <li style="margin-left: auto">
        <button type="submit" class="btn btn-success" style="width: 150px">
          Save
        </button>
      </li>
    </ol>
    <div class="form-group col-4" style="display: none">
      <label for="ticketId">ID</label>
      <input
        type="number"
        class="form-control"
        id="ticketId"
        name="ticketId"
        value="<%= loadContent.ticket.ticketId %>"
        readonly
      />
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-sm-12">
        <label for="name">Event*</label>
        <select name="name" id="name" class="form-control" required>
          <option
            selected
            hidden
            disabled
            value="<%= loadContent.ticket.name %>"
          >
            <%= loadContent.ticket.name %>
          </option>
          <% for(var i=0; i < loadContent.events.length;i++) { %>
          <option value="<%= loadContent.events[i].name%>">
            <%= loadContent.events[i].name%>
          </option>
          <% }; %>
        </select>
      </div>
      <div class="form-group col-lg-4 col-sm-12">
        <label for="date">Date*</label>
        <input
          type="date"
          class="form-control input-default"
          id="date"
          name="date"
          placeholder="Date"
          minlength="3"
          value="<%= new Date(loadContent.ticket.date).toISOString().slice(0,10) %>"
          required
        />
      </div>
      <div class="form-group col-lg-4 col-sm-12">
        <label for="hour">Hour*</label>
        <input
          type="time"
          class="form-control input-default"
          id="hour"
          name="hour"
          placeholder="Hour"
          value="<%= loadContent.ticket.hour %>"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-sm-12">
        <p class="text-muted m-b-15 f-s-12">Row</p>
        <input
          type="number"
          class="form-control input-default"
          id="row"
          name="row"
          placeholder="Row"
          value="<%= loadContent.ticket.eventSeat.row %>"
        />
      </div>
      <div class="form-group col-lg-4 col-sm-12">
        <p class="text-muted m-b-15 f-s-12">Seat</p>
        <input
          type="number"
          class="form-control input-default"
          id="seat"
          name="seat"
          placeholder="Seat"
          value="<%= loadContent.ticket.eventSeat.seat %>"
        />
      </div>
      <div class="form-group col-lg-2 col-sm-12">
        <p class="text-muted m-b-15 f-s-12">Type</p>
        <select class="custom-select" id="type" name="type" required>
          <option selected disabled value="<%= loadContent.ticket.type %>">
            <%= loadContent.ticket.type %>
          </option>
          <option value="Normal">Normal</option>
          <option value="VIP">VIP</option>
          <option value="Child">Child</option>
          <option value="Family">Family</option>
        </select>
      </div>
      <div class="form-group col-lg-2 col-sm-12">
        <p for="price">Price</p>
        <input
          type="number"
          class="form-control input-default"
          id="price"
          name="price"
          placeholder="Price"
          minlength="3"
          value="<%= loadContent.ticket.price %>"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image" />
      </div>
    </div>
  </form>
</div>

<% if(loadContent.error) { %>
<script>
  let alert = document.getElementById("editError");
  alert.removeAttribute("hidden");
</script>
<% } %>

<script>
  document.forms
    .namedItem("editForm")
    .addEventListener("submit", function (ev) {
      ev.preventDefault(); //prevent from submit

      let formData = new FormData();

      formData.append("ticketId", document.getElementById("ticketId").value);
      formData.append("name", document.getElementById("name").value);
      formData.append("date", document.getElementById("date").value);
      //console.log(document.getElementById("date").value);
      formData.append("hour", document.getElementById("hour").value);
      formData.append("row", document.getElementById("row").value);
      formData.append("seat", document.getElementById("seat").value);
      formData.append("type", document.getElementById("type").value);
      formData.append("price", document.getElementById("price").value);
      formData.append("image", document.getElementById("image").files[0]);

      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            let ticket = JSON.parse(this.response);
            window.location.href = "/admin/ticket/";
          } else if (this.status == 422) {
            let response = JSON.parse(this.response);
            //console.log(response);
            var str = response.errors[0].msg;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str;
            alert.removeAttribute("hidden");
          } else if (this.status == 500) {
            var str = JSON.parse(this.response).message;
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str; // set the alert text to the error message
            alert.removeAttribute("hidden");
          }
        }
      };

      let ticketId = document.getElementById("ticketId").value;
      xhttp.open("PUT", "/admin/ticket/edit/" + ticketId);
      xhttp.setRequestHeader("enctype", "multipart/form-data");
      xhttp.send(formData);
    });
</script>
