.align-self-center {
  align-self: center;
}

#btnToConfirm {
  color: #28a745;
}

#btnToConfirm:hover {
  color: #fff;
}

#btnToConfirm2 {
  color: #28a745;
}

#btnToConfirm2:hover {
  color: #fff;
}

#eventLocationShowPatrimony {
  color: black;
}