<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="createError"
  hidden
>
  <strong>An error ocurred submitting the client creation form!</strong> The
  inputted data is incorrect.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <form method="POST" action="/admin/client/create" name="createForm">
        <h1 class="mt-4">Clients</h1>
        <ol class="breadcrumb mb-4" style="display: flex">
          <li class="breadcrumb-item align-self-center">Create</li>
          <a
            href="admin/client"
            class="breadcrumb-item active align-self-center"
            >Clients</a
          >
          <li style="margin-left: auto">
            <a href="/admin/client/formCreate">
              <button
                type="submit"
                class="btn btn-success"
                style="width: 150px"
              >
                Save
              </button>
            </a>
          </li>
        </ol>
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-12">
              <!-- col-lg-6 occupies half of the screen -->
              <div class="card">
                <div class="card-body">
                  <div class="basic-form">
                    <div class="row">
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Name*</p>
                        <input
                          type="text"
                          class="form-control input-default"
                          id="name"
                          name="name"
                          placeholder="Name"
                          minlength="3"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Gender*</p>
                        <select name="gender" class="form-control" required>
                          <option value="M">Male</option>
                          <option value="F">Female</option>
                          <option value="O">Other</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Birthdate*</p>
                        <input
                          type="date"
                          class="form-control input-default"
                          id="dob"
                          name="dob"
                          required
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Telephone*</p>
                        <input
                          type="Number"
                          class="form-control input-default"
                          id="cellPhone"
                          name="cellPhone"
                          placeholder="91xxxxxxx"
                          minlength="7"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Email*</p>
                        <input
                          type="text"
                          class="form-control input-default"
                          id="email"
                          name="email"
                          placeholder="Email"
                          minlength="7"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Password*</p>
                        <input
                          type="password"
                          class="form-control input-default"
                          id="password"
                          name="password"
                          placeholder="Password"
                          minlength="3"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Address*</p>
                        <input
                          type="text"
                          class="form-control input-default"
                          id="address"
                          name="address"
                          placeholder="Address"
                          minlength="3"
                          required
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">City*</p>
                        <input
                          type="text"
                          class="form-control input-default"
                          id="city"
                          name="city"
                          placeholder="City"
                          minlength="3"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Postal Code*</p>
                        <input
                          type="text"
                          class="form-control input-default"
                          id="postalCode"
                          name="postalCode"
                          placeholder="xxxx-xxx"
                          minlength="3"
                        />
                      </div>
                      <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">NIF*</p>
                        <input
                          type="Number"
                          class="form-control input-default"
                          id="nif"
                          name="nif"
                          placeholder="NIF"
                          minlength="9"
                          maxlength="9"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
<% if(loadContent.error) { %>
<script>
  let alert = document.getElementById("createError");
  alert.removeAttribute("hidden");
</script>

<% } %>
