<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="editError"
  hidden
>
  <strong id="editText"
    >An error ocurred submitting the staff editing form!
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<div class="container-fluid px-4">
  <form
    action="/admin/client/edit/<%= loadContent.client.personalInformation.clientId %>"
    method="post"
    id="editForm"
    name="editForm"
  >
    <h1 class="mt-4">Clients</h1>
    <ol class="breadcrumb mb-4" style="display: flex">
      <li class="breadcrumb-item align-self-center">Edit</li>
      <a href="admin/client" class="breadcrumb-item active align-self-center"
        >Clients</a
      >
      <li style="margin-left: auto">
        <button type="submit" class="btn btn-success" style="width: 150px">
          Save
        </button>
      </li>
    </ol>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="name">Name*</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            minlength="3"
            value="<%= loadContent.client.personalInformation.name %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="type">Gender</label>
          <select class="form-control" id="gender" name="gender" required>
            <option
              selected
              hidden
              value="<%= loadContent.client.personalInformation.gender %>"
            >
              <%= loadContent.client.personalInformation.gender === 'M' ? 'Male'
              : (loadContent.client.personalInformation.gender === 'F' ?
              'Female' : (loadContent.client.personalInformation.gender === 'O'
              ? 'Other' : '')) %>
            </option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="DOB">Date of Birthday</label>
          <input
            type="date"
            class="form-control"
            id="dob"
            name="dob"
            value="<%= loadContent.client.personalInformation.dob %>"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="Cell Phone">Cell Phone</label>
          <input
            type="Number"
            class="form-control"
            id="cellPhone"
            name="cellPhone"
            minlength="9"
            value="<%= loadContent.client.personalInformation.cellPhone %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            minlength="7"
            value="<%= loadContent.client.personalInformation.email %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            minlength="3"
            placeholder="********"
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            minlength="5"
            value="<%= loadContent.client.personalInformation.address %>"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4 col-sm-12">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            minlength="3"
            value="<%= loadContent.client.personalInformation.city %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="postalCode">Postal Code</label>
          <input
            type="text"
            class="form-control"
            id="postalCode"
            name="postalCode"
            minlength="5"
            value="<%= loadContent.client.personalInformation.postalCode %>"
            required
          />
        </div>
        <div class="form-group col-lg-4 col-sm-12">
          <label for="nif">NIF</label>
          <input
            type="text"
            class="form-control"
            id="nif"
            name="nif"
            minlength="9"
            value="<%= loadContent.client.personalInformation.nif %>"
            required
          />
        </div>
      </div>
    </div>
  </form>
</div>
<% if(loadContent.error) { %>
<script>
  let alert = document.getElementById("editError");
  alert.removeAttribute("hidden");
</script>

<% } %>
<script>
  document.forms
    .namedItem("editForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      let newClient = new Map();
      newClient.set("name", document.getElementById("name").value);
      newClient.set("gender", document.getElementById("gender").value);
      newClient.set("dob", document.getElementById("dob").value);
      newClient.set("cellPhone", document.getElementById("cellPhone").value);
      newClient.set("email", document.getElementById("email").value);
      newClient.set("password", document.getElementById("password").value);
      newClient.set("address", document.getElementById("address").value);
      newClient.set("city", document.getElementById("city").value);
      newClient.set("postalCode", document.getElementById("postalCode").value);
      newClient.set("nif", document.getElementById("nif").value);

      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            //console.log(this.response);
            let client = JSON.parse(this.response);
            window.location.href = "/admin/client/";
          } else if (this.status == 422) {
            let response = JSON.parse(this.response);
            var str = response.errors[0].msg;
            //console.log(this.response);
            //console.log(response);
            let alert = document.getElementById("editError");
            let alertText = document.getElementById("editText");
            alertText.innerText = str;
            alert.removeAttribute("hidden");
          } else if (this.status == 500) {
            var str = JSON.parse(this.response);
            //console.log(this.response);
            let alert = document.getElementById("editError");
            alert.innerText = str;
            alert.removeAttribute("hidden");
          }
        }
      };

      let url =
        "/admin/client/edit/<%= loadContent.client.personalInformation.clientId %>";
      xhttp.open("PUT", url);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify(Object.fromEntries(newClient)));
    });
</script>
