<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <h1 class="mt-4">Clients</h1>
      <ol class="breadcrumb mb-4" style="display: flex">
        <li class="breadcrumb-item align-self-center">View</li>
        <a href="admin/client" class="breadcrumb-item active align-self-center"
          >Clients</a
        >
        <li style="margin-left: auto">
          <a href="/admin/client/formEdit">
            <button type="button" class="btn btn-success" style="width: 150px">
              Sales
            </button>
          </a>
        </li>
      </ol>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="<%= loadContent.client.personalInformation.name %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="gender">Gender</label>
            <input
              type="text"
              class="form-control"
              id="gender"
              name="gender"
              value="<%= loadContent.client.personalInformation.gender %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="DOB">Birthdate</label>
            <input
              type="date"
              class="form-control"
              id="dob"
              name="dob"
              value="<%= loadContent.client.personalInformation.dob %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="Cell Phone">Cell Phone</label>
            <input
              type="Number"
              class="form-control"
              id="cellPhone"
              name="cellPhone"
              minlength="9"
              value="<%= loadContent.client.personalInformation.cellPhone %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              minlength="7"
              value="<%= loadContent.client.personalInformation.email %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              minlength="5"
              value="<%= loadContent.client.personalInformation.address %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              name="city"
              minlength="3"
              value="<%= loadContent.client.personalInformation.city %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="postalCode">PostalCode</label>
            <input
              type="text"
              class="form-control"
              id="postalCode"
              name="postalCode"
              minlength="5"
              value="<%= loadContent.client.personalInformation.postalCode %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="nif">NIF</label>
            <input
              type="text"
              class="form-control"
              id="nif"
              name="nif"
              minlength="9"
              value="<%= loadContent.client.personalInformation.nif %>"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
