<% if(loadContent.error) { %>
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="createError"
>
  <strong>An error ocurred submitting the patrimony creation form!</strong> The
  inputted data is incorrect.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <form
        method="POST"
        action="/admin/patrimony/create"
        name="createForm"
        enctype="multipart/form-data"
      >
        <h1 class="mt-4">Venues</h1>
        <ol class="breadcrumb mb-4" style="display: flex">
          <li class="breadcrumb-item align-self-center">Create</li>
          <a
            href="admin/patrimony"
            class="breadcrumb-item active align-self-center"
            >Venues</a
          >
          <button
            class="btn btn-danger"
            type="button"
            id="searchBtn"
            style="margin-left: auto"
          >
            Search
          </button>
          <div class="col-md-3 col-md-2 align-self-center">
            <input
              class="form-control"
              type="text"
              id="autoSearchCity"
              placeholder="Insert a city to search for venue"
            />
          </div>
          <li style="margin-left: auto">
            <a href="/admin/patrimony/formCreate">
              <button
                type="submit"
                class="btn btn-success"
                style="width: 150px"
              >
                Save
              </button>
            </a>
          </li>
        </ol>
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-12">
              <!-- col-lg-6 occupies half of the screen -->
              <div class="card">
                <div class="card-body">
                  <div class="basic-form">
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Name*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="name"
                        name="name"
                        placeholder="Name"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Type*</p>
                      <div class="col-sm-13">
                        <select name="type" class="form-control">
                          <option selected disabled hidden>
                            Select a type of venue
                          </option>
                          <!-- NO HARD-CODE, ficheiro de config ou base de dados-->
                          <option value="Art gallery">Art gallery</option>
                          <option value="Bar/Nightclub">Bar/Nightclub</option>
                          <option value="Brewery/Winery">Brewery/Winery</option>
                          <option value="College/University">
                            College/University
                          </option>
                          <option value="Community center">
                            Community center
                          </option>
                          <option value="Convention center">
                            Convention center
                          </option>
                          <option value="Conference center">
                            Conference center
                          </option>
                          <option value="Cruise ship">Cruise ship</option>
                          <option value="Historical/Cultural estate">
                            Historical/Cultural estate
                          </option>
                          <option value="Hotel">Hotel</option>
                          <option value="Museum/Aquarium/Zoo">
                            Museum/Aquarium/Zoo
                          </option>
                          <option value="Resort">Resort</option>
                          <option value="Restaurant">Restaurant</option>
                          <option value="Retreat center">Retreat center</option>
                          <option value="Social club/Lounge">
                            Social club/Lounge
                          </option>
                          <option value="Stadium">Stadium</option>
                          <option value="Theater">Theater</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">City*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="city"
                        name="city"
                        placeholder="City"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">District</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="district"
                        name="district"
                        placeholder="District"
                        minlength="3"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Latitude</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="latitude"
                        name="latitude"
                        placeholder="Latitude"
                        minlength="3"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Longitude</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="longitude"
                        name="longitude"
                        placeholder="Longitude"
                        minlength="3"
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Image*</p>
                      <input
                        type="file"
                        class="form-control input-default"
                        id="image"
                        name="image"
                        placeholder="Image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
        </section>
      </form>
    </div>
  </div>
</div>

<script>
  // code for the auto search button
  document.getElementById("searchBtn").addEventListener("click", () => {
    let city = document.getElementById("autoSearchCity").value;

    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        //console.log(JSON.parse(this.responseText));
        let results = JSON.parse(this.responseText);
        let geocodeID = results.results[0].place_id;
        getPatrimonyInfo(geocodeID);
      }
    };
    xhttp.open(
      "GET",
      `https://api.geoapify.com/v1/geocode/search?text=${city}&format=json&limit=1&apiKey=bc4af77290a044bfb9d15e87cc209fa3`
    );
    xhttp.send();
  });

  function getPatrimonyInfo(geocodeID) {
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        let content = JSON.parse(this.responseText);
        //console.log(content);
        if (content.features.length == 0) {
          alert("Não foi encontrado nenhum patrimônio na cidade informada.");
          let button = document.getElementById("fillAutomaticButton");
          button.removeChild(button.lastElementChild);
        } else {
          // From the 500 results, select a random one
          let patrimony =
            content.features[
              Math.floor(Math.random() * content.features.length)
            ];
          document.getElementById("name").value = patrimony.properties.name
            ? patrimony.properties.name
            : patrimony.properties.address_line1
            ? patrimony.properties.address_line1
            : patrimony.properties.address_line2
            ? patrimony.properties.address_line2
            : "Patrimônio sem nome";
          document.getElementById("latitude").value =
            patrimony.geometry.coordinates[1];
          document.getElementById("longitude").value =
            patrimony.geometry.coordinates[0];
          document.getElementById("city").value = patrimony.properties.city;
          document.getElementById("district").value =
            patrimony.properties.district;
        }
      }
    };

    if (geocodeID != null && geocodeID != undefined) {
      let url = "https://api.geoapify.com/v2/places?categories";
      url +=
        "=building.historic,entertainment.museum,catering.bar,entertainment.zoo,";
      url +=
        "entertainment.aquarium,adult.nightclub,production.winery,production.brewery,";
      url +=
        "education.college,education.university,activity.community_center,building.place_of_worship,";
      url +=
        "public_transport.ferry,building.historic,entertainment.culture,accommodation.hotel,";
      url +=
        "beach.beach_resort,catering.restaurant,accommodation.hostel,tourism.sights,";
      url +=
        "sport.stadium&filter=place:" +
        geocodeID +
        "&limit=250&apiKey=bc4af77290a044bfb9d15e87cc209fa3";

      xhttp.open("GET", url, true);
      xhttp.send();
    }
  }
</script>
