<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <h1 class="mt-4">Venues</h1>
      <ol class="breadcrumb mb-4" style="display: flex">
        <li class="breadcrumb-item align-self-center">View</li>
        <a
          href="admin/patrimony"
          class="breadcrumb-item active align-self-center"
          >Venues</a
        >
        <li style="margin-left: auto">
          <button
            id="btnHideEvents"
            type="button"
            class="btn btn-danger"
            style="width: 150px"
            hidden
          >
            Hide Events
          </button>
        </li>
        <li style="margin-right: 20px">
          <button
            id="btnShowEvents"
            type="button"
            class="btn btn-primary"
            style="width: 150px"
          >
            Show Events
          </button>
        </li>
        <li>
          <a
            href="/admin/event/formCreatePatrimonyAssociated/<%= loadContent.patrimony.patrimonyId %>"
          >
            <button type="button" class="btn btn-success" style="width: 150px">
              Create Event
            </button>
          </a>
        </li>
      </ol>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              minlength="3"
              value="<%= loadContent.patrimony.name %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="type">Type</label>
            <input
              class="form-control"
              id="type"
              name="type"
              value="<%= loadContent.patrimony.type %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="latitude">Latitude</label>
            <input
              type="text"
              class="form-control"
              id="latitude"
              name="latitude"
              minlength="3"
              value="<%= loadContent.patrimony.location.latitude %>"
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4 col-sm-12">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              name="city"
              minlength="3"
              value="<%= loadContent.patrimony.location.city %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="district">District</label>
            <input
              type="text"
              class="form-control"
              id="district"
              name="district"
              minlength="3"
              value="<%= loadContent.patrimony.location.district %>"
              readonly
            />
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label for="longitude">Longitude</label>
            <input
              type="text"
              class="form-control"
              id="longitude"
              name="longitude"
              minlength="3"
              value="<%= loadContent.patrimony.location.longitude %>"
              readonly
            />
          </div>
        </div>
        <div class="row" style="justify-content: center">
          <div class="form-group col-3">
            <label for="image"></label>
            <img
              src="<%= loadContent.patrimony.image.publicPath %>"
              alt="Patrimony Image"
              class="img-thumbnail"
              width="100%"
              height="auto"
            />
          </div>
        </div>
      </div>
      <!-- SHOW EVENTS -->
      <div
        id="showEvents"
        class="container-fluid"
        style="display: flex; justify-content: center"
        hidden
      >
        <div style="margin-right: 20px">
          <h6>Ongoing</h6>
          <ul
            data-spy="scroll"
            class="list-group scrollspy-example"
            style="
              width: 100px;
              height: 200px;
              overflow-y: scroll;
              border: 1px solid hwb(0 0% 100% / 0.2);
              border-radius: 0px;
            "
          >
            <% for(var i=0; i <
            loadContent.patrimony.eventsRelated.ongoingEvents.length; i++) { %>
            <li class="list-group-item">
              <a
                href="/admin/event/show/<%= loadContent.patrimony.eventsRelated.ongoingEvents[i] %>"
              >
                <%= loadContent.patrimony.eventsRelated.ongoingEvents[i] %>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
        <div style="margin-left: 20px">
          <h6>Finished</h6>
          <ul
            class="list-group"
            style="
              width: 100px;
              height: 200px;
              overflow-y: scroll;
              border: 1px solid hwb(0 0% 100% / 0.2);
              border-radius: 0px;
            "
          >
            <% for(var i=0; i <
            loadContent.patrimony.eventsRelated.doneEvents.length; i++) { %>
            <li class="list-group-item">
              <a
                href="/admin/event/show/<%= loadContent.patrimony.eventsRelated.doneEvents[i] %>"
              >
                <%= loadContent.patrimony.eventsRelated.doneEvents[i] %>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>

      <!-- END SHOW EVENTS -->
    </div>
  </div>
</div>

<script>
  document.getElementById("btnShowEvents").addEventListener("click", () => {
    var eventsDiv = document.getElementById("showEvents");
    var btnShowEvents = document.getElementById("btnShowEvents");
    var btnHideEvents = document.getElementById("btnHideEvents");
    eventsDiv.removeAttribute("hidden");
    btnShowEvents.setAttribute("hidden", true);
    btnHideEvents.removeAttribute("hidden");
  });

  document.getElementById("btnHideEvents").addEventListener("click", () => {
    var eventsDiv = document.getElementById("showEvents");
    var btnShowEvents = document.getElementById("btnShowEvents");
    var btnHideEvents = document.getElementById("btnHideEvents");
    eventsDiv.setAttribute("hidden", true);
    btnShowEvents.removeAttribute("hidden");
    btnHideEvents.setAttribute("hidden", true);
  });
</script>
