<% if(loadContent.error) { %>
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="createError"
>
  <strong>An error ocurred submitting the staff creation form!</strong> The
  inputted data is incorrect.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
<div class="content-wrap">
  <div class="main">
    <div class="container-fluid px-4">
      <form
        method="POST"
        action="/admin/administrator/create"
        name="createForm"
      >
        <h1 class="mt-4">Staff</h1>
        <ol class="breadcrumb mb-4" style="display: flex">
          <li class="breadcrumb-item align-self-center">Create</li>
          <a
            href="admin/administrator"
            class="breadcrumb-item active align-self-center"
            >Staff</a
          >
          <li style="margin-left: auto">
            <a href="/admin/administrator/formCreate">
              <button
                type="submit"
                class="btn btn-success"
                style="width: 150px"
              >
                Save
              </button>
            </a>
          </li>
        </ol>
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-12">
              <!-- col-lg-6 occupies half of the screen -->
              <div class="card">
                <div class="card-body">
                  <div class="basic-form">
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Name*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="name"
                        name="name"
                        placeholder="Name"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Gender*</p>
                      <div class="col-sm-13">
                        <select class="form-control" name="gender" required>
                          <option>M</option>
                          <option>F</option>
                          <option>O</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Birthdate*</p>
                      <input
                        type="date"
                        class="form-control input-default"
                        id="dob"
                        name="dob"
                        placeholder="Birthdate"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Telephone*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="cellPhone"
                        name="cellPhone"
                        placeholder="Telephone"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Email*</p>
                      <input
                        type="email"
                        class="form-control input-default"
                        id="email"
                        name="email"
                        placeholder="Email"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Street*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="street"
                        name="street"
                        placeholder="Street"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">City*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="city"
                        name="city"
                        placeholder="City"
                        minlength="3"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Postal Code*</p>
                      <input
                        type="text"
                        class="form-control input-default"
                        id="postalCode"
                        name="postalCode"
                        placeholder="Postal Code"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Type*</p>
                      <div class="col-sm-13">
                        <select
                          class="form-control"
                          name="administratorType"
                          required
                        >
                          <option>Manager</option>
                          <option>Administrator</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <p class="text-muted m-b-15 f-s-12">Password*</p>
                      <input
                        type="password"
                        class="form-control input-default"
                        id="password"
                        name="password"
                        placeholder="Password"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
