<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="createError"
  hidden
>
  <strong>An error ocurred submitting the sale!</strong> The event might be
  full.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  id="createErrorGeneric"
  hidden
>
  <strong>An error ocurred submitting the sale!</strong> The number of tickets
  bought is 0 or there was an error with the server updating or retrieving
  information based on the request made.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<div class="content-wrap container-fluid px-4 main">
  <h1 class="mt-4">Sales</h1>
  <ol class="breadcrumb mb-4" style="display: flex">
    <li class="breadcrumb-item align-self-center">Create</li>
    <a href="admin/event" class="breadcrumb-item active align-self-center"
      >Sales</a
    >
    <li style="margin-left: auto">
      <% if (loadContent.clients.length == 0) { %>
      <a
        href="/admin/client/formCreate"
        type="button"
        class="btn btn-outline-success"
        id="btnCreateClient"
        style="width: 150px"
        >Create client</a
      >
      <% } %>
      <div class="form-check align-items-center" id="saleDiscount"></div>
    </li>
    <li style="margin-left: 10px">
      <a id="saleContainer">
        <!--<div class="custom-control custom-checkbox" id="salesDiscount"></div>-->
      </a>
    </li>
  </ol>
  <div class="border" style="padding: 10px">
    <% if (loadContent.clients.length != 0) { %>
    <div>
      <div style="display: inline-block; vertical-align: middle; margin: 10px">
        <select
          id="clientChosen"
          style="height: 38px; width: 150px"
          for="clientChosen"
        >
          <option selected disabled hidden>Client List</option>
          <% loadContent.clients.forEach(function(client) { %>
          <option value="<%= client.personalInformation.clientId %>">
            <%= client.personalInformation.name %>
          </option>
          <% }); %>
        </select>
      </div>

      <div style="display: inline-block; vertical-align: middle">
        <button
          type="button"
          class="btn btn-primary"
          style="width: 150px; margin: 10px"
          id="btnSearchClient"
        >
          Select Client
        </button>
      </div>

      <div id="clientInfo" hidden></div>
    </div>
    <!---->
    <div>
      <div style="display: inline-block; vertical-align: middle; margin: 10px">
        <select
          id="eventChosen"
          style="height: 38px; width: 150px"
          for="eventChosen"
          required
        >
          <option selected disabled hidden>Event List</option>
          <% loadContent.events.forEach(function(event) { %>
          <option value="<%= event.seatsAvailable %>"><%= event.name %></option>
          <% }); %>
        </select>
      </div>

      <div style="display: inline-block; vertical-align: middle">
        <button
          type="button"
          class="btn btn-primary"
          style="width: 150px; margin: 10px"
          id="btnSearchTicket"
        >
          Show Tickets
        </button>
      </div>

      <div id="ticketInfo" hidden></div>

      <div class="row" id="ticketForm" hidden></div>
      <% } %>
    </div>
  </div>
</div>

<script src="js/sales/salesForm.js"></script>
<script src="js/sales/clientForm.js"></script>
<script src="js/sales/ticketForm.js"></script>
